<div class="text-center">
  <main class="form-signin">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

        <div class="form-floating">
          <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "User Name", :class => "form-control" %>
          <%= f.label :username %>
        </div>

        <div class="form-floating">
          <%= f.email_field :email, autocomplete: "email", placeholder: "antenna@example.com", :class => "form-control" %>
          <%= f.label :email %>
        </div>

        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <div class="form-floating">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", :class => "form-control" %>
          <%= f.label :password %>
        </div>

        <div class="form-floating">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confimation", :class => "form-control" %>
          <%= f.label :password_confirmation %>
        </div>

        <!-- <div class="checkbox m-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <%= f.submit "Sign up", :class => "w-100 btn btn-lg btn-primary" %>
    <% end %>
  </main>

  <%= render "devise/shared/links" %>
</div>
