<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <% if user_signed_in? %>
            <% if current_user.try(:admin?) %>
              <%= link_to rails_admin_path do %>
                <button type="button" class="btn btn-outline-light me-2">Admin</button>
              <% end %>
            <% end %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-warning" %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <button type="button" class="btn btn-outline-light me-2">Login</button>
            <% end %>
            <%= link_to new_user_registration_path do %>
              <button type="button" class="btn btn-warning">Sign-up</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">MEN RANKING</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <% @men_rankings.each do |ranking| %>
        <div class="col">
          <div
            class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
          >
            <img src="<%= ranking.outfit_detail.img_url %>" class="img-responsive">
            <div class="d-flex flex-column p-5 text-white text-shadow-1">
              <div class="mb-4 display-6 fw-bold bg-dark rank"><%= ranking.rank %></div>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="<%= ranking.outfit_detail.outfit_poster.icon_url %>" alt="<%= ranking.outfit_detail.title %>" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <a href="https://wear.jp/<%= ranking.outfit_detail.outfit_poster.user_id %>/" class="card-link"><%= ranking.outfit_detail.outfit_poster.name %></a>
                </li>
                <li class="d-flex align-items-center">
                  <a href="https://wear.jp/<%= ranking.outfit_detail.outfit_poster.user_id %>/<%= ranking.outfit_detail.fashion_id %>/" class="card-link">コーデ詳細</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <h2 class="pb-2 border-bottom">WOMEN RANKING</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <% @women_rankings.each do |ranking| %>
        <div class="col">
          <div
            class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
          >
            <img src="<%= ranking.outfit_detail.img_url %>" class="img-responsive">
            <div class="d-flex flex-column p-5 text-white text-shadow-1">
              <div class="mb-4 display-6 fw-bold bg-dark rank"><%= ranking.rank %></div>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="<%= ranking.outfit_detail.outfit_poster.icon_url %>" alt="<%= ranking.outfit_detail.title %>" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <a href="https://wear.jp/<%= ranking.outfit_detail.outfit_poster.user_id %>/" class="card-link"><%= ranking.outfit_detail.outfit_poster.name %></a>
                </li>
                <li class="d-flex align-items-center">
                  <a href="https://wear.jp/<%= ranking.outfit_detail.outfit_poster.user_id %>/<%= ranking.outfit_detail.fashion_id %>/" class="card-link">コーデ詳細</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <h2 class="pb-2 border-bottom">KIDS RANKING</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <% @kids_rankings.each do |ranking| %>
        <div class="col">
          <div
            class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
          >
            <img src="<%= ranking.outfit_detail.img_url %>" class="img-responsive">
            <div class="d-flex flex-column p-5 text-white text-shadow-1">
              <div class="mb-4 display-6 fw-bold bg-dark rank"><%= ranking.rank %></div>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="<%= ranking.outfit_detail.outfit_poster.icon_url %>" alt="<%= ranking.outfit_detail.title %>" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <a href="https://wear.jp/<%= ranking.outfit_detail.outfit_poster.user_id %>/" class="card-link"><%= ranking.outfit_detail.outfit_poster.name %></a>
                </li>
                <li class="d-flex align-items-center">
                  <a href="https://wear.jp/<%= ranking.outfit_detail.outfit_poster.user_id %>/<%= ranking.outfit_detail.fashion_id %>/" class="card-link">コーデ詳細</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>